---
layout: default
---

{% include heading.html text="Featured Links" %}

{% include button.html text="My Website" image="/images/Website.png" url="https://vyshnav.xyz/" %}
{% include button.html text="Visual Ideas" image="/images/Pencil.png" url="https://vyshnav.xyz/visuals" %}
{% include button.html text="Newsletter" image="/images/Mail.png" url="https://vyshnav.substack.com/" %}
{% include button.html text="Shop" image="/images/Cart.png" url="https://shop.vyshnav.xyz/" %}
{% include button.html text="What I'm Doing Now" image="/images/Clock.png" url="https://vyshnav.xyz/now" %}

{% include heading.html text="Other Links" %}

{% include button.html text="Blog" image="/images/Pen.png" url="https://vyshnav.xyz/blog/" %}
{% include button.html text="Book Notes" image="/images/Books.png" url="https://vyshnav.xyz/book-notes/" %}
{% include button.html text="Notion Products" image="/images/Store.png" url="https://vyshnav.xyz/blog/tags#notion" %}
{% include button.html text="Blender Store" image="/images/3D.png" url="https://vyshnav.xyz/resources/#blender-files" %}