<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#28bca3">
  <meta name="keywords" content="vyshnav,vg,vyshnav gangadharan">
  <meta name="author" content="Vyshnav Gangadharan">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta rel="icon" href="{{ '/assets/favicon.png' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &sdot; {% endif %}{{ site.title }}" />
  <meta property="og:site_name" content="Vyshnav Gangadharan">
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ '/assets/card.png' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta itemprop="name" content="{% if page.title %}{{ page.title }} &sdot; {% endif %}{{ site.title }}">
  <meta itemprop="image" content="{% if page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ '/assets/card.png' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta itemprop="logo" content="{{ '/assets/favicon.png' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta name="google-site-verification" content="HbuKJjqx6sxdf-OMJt45v1qE19vcDI_YyDOIa1SMZXw" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />

  <link rel="alternate" type="application/rss+xml" title="Vyshnav Gangadharan" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% if page.image %}
    {% assign prefix = page.image | slice: 0, 4 %}
    {% if prefix == "http" %}
      {% assign image = page.image %}
    {% else %}
      {% assign image = page.image | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ image }}" />
  {% else %}
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:image" content="{{ '/assets/card.png' | prepend: site.baseurl | prepend: site.url }}" />
  {% endif %}
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
  <meta name="twitter:domain" content="vyshnav.xyz"/>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.png' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" type="text/css">
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script> 
</head>