<div class="newsletter">
    <form action="https://newsletter.vyshnav.xyz/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="revue-form-group">
          <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
          <button type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg> 
        </button>
        </div>
    </form>
</div>