<div class="avatar">
    <img

    {% if site.gravatar %}

        src="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=150&d=blank"
        alt="Avatar for {{ site.author.name }}"

    {% else %}

    src="{{ site.image }}" alt="{{ site.author.name }}"

    {% endif %}

    >

    {% if site.branding == true %}
    <i class="branding">
        {% include svg/logo.svg %}
    </i>
    {% else %}
    <h1>{{ site.author.name }}</h1>
    {% endif %}

    <h3>{{ site.role }}{% if site.company %} @ {{ site.company }}{% endif %}</h3>
</div>

<div class="description">
    <h2>{{ site.description }}</h2>
</div>