body {
    font-family: 'DM Sans', sans-serif;
    color: #333333;
}


.text-center {
    text-align: center !important;
   }

* {
  box-sizing: border-box;
}

.page{
    width: 650px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
    text-decoration: none;
}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.75rem 0 1rem;

    @media screen and (max-width: 768px) {
        margin-top: 1.25rem;
    }

    img{
        height: 90px;
        width: 90px;
        border-radius: 3rem;
        margin-bottom: 1rem;
        border: 1px solid;
    }

    h3{
        margin: .5rem 0 0;
        font-size: 1rem;
    }
}

.description{
    padding: 0 2rem;
    h2{
        font-weight: 500;
        font-size: 1.25rem;
        margin-bottom: 1rem;

        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }
    }
}

.heading{
    margin: 2rem 0 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #555761;
}

.social-links {
    a{
        text-decoration: none !important;
        padding: .75rem;
        display: inline;

        svg{
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

.links{
    a{
        display: block;
    }
}

.btn{
    width: 90%;
    margin: 1rem auto;
    border-color: $border-light;
    color: $black;
    cursor: pointer;
    border-radius: 3rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-weight: 500;
    transition: all .14s ease-out;

    img{
        height: 2.5rem;
        margin-right: .5rem;
    }

    svg{
        fill: $black;
        height: 1.5rem;
        width: 1.5rem;
    }

    .btn-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &:hover{
        box-shadow: 0.25rem 0.25rem 0 0 $black;
        transform: translate(-.25rem,-.25rem);
    }
}

footer{
    margin-top: auto;
    padding: 1.5rem 0;
    display: block;
    text-align: center;
}

.branding{
    svg{
        width: 140px;
        height: auto;

        @media screen and (max-width: 768px) {
            width: 120px;
        }
            
        }
    path{
      fill: $black;
    }
}

.link{
    text-decoration: none;
}