[data-theme="dark"] {
  body {
    background-color: $dark-900;
    color: $white;
  }
 
.branding{
    path{
      fill: $white;
    }
}

.btn{
  border-color: $border-dark;
  color: $white;

  &:hover{
    box-shadow: 0.25rem 0.25rem 0 0 $white;
  }

  .arrow{
    color: $white;
  }
  }    
}