$black: #3f3f46;
$white: #d4d4d8;

$black-muted: #71717a;
$white-muted: #a1a1aa;

$border-light: #d4d4d8;
$border-dark: #3f3f46;

$dark-100: #f4f4f5;
$dark-200: #e4e4e7;
$dark-300: #d4d4d8;
$dark-400: #a1a1aa;
$dark-500: #71717a;
$dark-600: #52525b;
$dark-700: #3f3f46;
$dark-800: #27272a;
$dark-900: #18181b;


$green-100: #d1fae5;
$green-200: #a7f3d0;
$green-300: #6ee7b7;
$green-400: #34d399;
$green-500: #10b981;
$green-600: #059669;
$green-700: #047857;
$green-800: #065f46;
$green-900: #064e3b;

$success: #22c55e;
$success-light: #86efac;

$info: #3b82f6;
$info-light: #93c5fd;

$warning: #f59e0b;
$warning-light: #fcd34d;

$danger: #ef4444;
$danger-light: #fca5a5;