$black: #3f3f46;
$white: #d4d4d8;

$black-muted: #71717a;
$white-muted: #a1a1aa;

$border-light: #d4d4d8;
$border-dark: #3f3f46;

$dark-100: #f4f4f5;
$dark-200: #e4e4e7;
$dark-300: #d4d4d8;
$dark-400: #a1a1aa;
$dark-500: #71717a;
$dark-600: #52525b;
$dark-700: #3f3f46;
$dark-800: #27272a;
$dark-900: #18181b;

$green-100: #dcfce7;
$green-200: #bbf7d0;
$green-300: #86efac;
$green-400: #4ade80;
$green-500: #22c55e;
$green-600: #16a34a;
$green-700: #15803d;
$green-800: #166534;
$green-900: #14532d;