@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "base",
        "theme",
        "theme-dark";