---
layout: compress
---
<!DOCTYPE html>

<html lang="en" style="height: 100%;">

{% include head.html %}

<body style="display: flex; flex-direction: column; height: 100%;">

  <main>
    <div class="page">
      <div class="content-box">
          <div class="content">
              {% include profile.html %}
              <div class="description">
                  <h2> 🎨 Designer • ✏️ Illustrator • 💻 Developer</h2>
              </div>
              {% include social-links.html %}
              <div class="links">
                  {{ content }}
              </div>
          </div>
      </div>
  </div>
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>